<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
<form method="post" action="/results">
    <input type="text" name="word" placeholder="Search.."><br>

    <input type="radio" name="search_level" value="1" required checked> Level 1<br>
    <input type="radio" name="search_level" value="2"> Level 2<br>
    <input type="radio" name="search_level" value="3"> Level 3 <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>
