body {
  background-color: #efefef;
  font-family: sans-serif;
}

.searchbar {
  position: relative;
  margin: 0 auto;
  height: 60px;
  min-width: 150px;
  width: 50%
}

.searchbar--input,
.searchbar--buttons {
top: 0;
right: 0;
}

.searchbar--input,
.searchbar--select,
.searchbar--submit {
  border: none;
  outline: none;
}

.searchbar--input {
  width: 100%;
  padding: 20px 0 20px 10px;
  height: 60px;
  font-size: 16px;
}

.searchbar--submit,
.searchbar--select {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.searchbar--submit {
width: 80px;
height: 50px;
padding: 0;
margin: 5px;
line-height: 32px;
display: block;
float: right;
font-size: 14px;
letter-spacing: .5px;
border-radius: 4px;
color: #fff;
}

.searchbar--select {
  height: 50px;
  margin: 5px 0;
  padding: 0 15px 0 20px;
  border-radius: 0;
  color: #8a8a8a;
  letter-spacing: .25px;
  overflow: hidden;
}

.searchbar--select li {
  list-style: none;
  display: block;
  height: 30px;
  line-height: 32px;
}
.searchbar--select li.active-item {
  height: 30px;
  display: block;
  line-height: 32px;
  transform: translateY(0);
}


.select-wrapper {
  position: relative;
  float: right;
}
.select-wrapper:after {
   content: '';
   position: absolute;
   font: 18px "Consolas", monospace;
   color: #b3b1b1;
   right: 20px;
   top: 28px;
   width: 0;
   height: 0;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 5px solid #fff;
   padding: 0 0 2px;
   position: absolute;
   pointer-events: none;
 }


.searchbar--filter {
  position: absolute;
  width: 100%;
  top: 170px;
}
.searchbar--filter.select-wrapper {
  float: none;
}
.searchbar--filter.select-wrapper:after {
   top: 23px;
   color: #fff;
 }


[class^=filter] select {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  padding: 0 40px 0 20px;
  border-radius: 0;
  color: #fff;
  letter-spacing: .25px;
  height: 50px;
  width: 100%;
  font-size: 14px;
}

.dropdown {
  position: relative;
  width: 100%;
}

.dropdown--button {
  -webkit-appearance: none;
  margin: 0;
  border: none;
  text-decoration: none;
  user-select: none;
  background-color: #967ADC;
  color: #fff;
  font-size: 14px;
  line-height: 50px;
  height: 50px;
}
.dropdown--button span {
  margin-left: 20px;
}
.dropdown--button:not(:disabled){
  cursor : pointer;
}
.dropdown--button:hover {
   background-color: #AC92EC;
  outline : none;
  text-decoration : none;
}
.dropdown--button:focus {
  outline : none;
  text-decoration: none;
}



.dropdown--list {
  margin: 0;
  padding: 0;
  list-style: none;
left: 0;
width: 100%;
opacity: 0;
visibility: hidden;
background: #fff;
}
.dropdown.is-open .dropdown--list {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.dropdown--item {
  padding: 16px 20px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: #222;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown--item:hover{
  background-color: #E6E9ED;
}


.searchbar--dropdown {
 float: right;
 width: auto;
 font-size: 11px;
 text-align: left;
 z-index: 1;
  top : -55px;
}

.searchbar--dropdown span {
  line-height: 32px;
  margin-left: 0;
  margin-right: 40px;
}

.searchbar--select .searchbar--dropdown {
  background-color: #f1f1f1;
  line-height: 32px;
  font-size: 11px;
  height: 30px;
  color: #8a8a8a;
  margin: 5px 0;
}
.dropdown--item .searchbar--dropdown {
  font-size: 12px;
  padding: 10px 20px;
}
.dropdown--item:after .searchbar--dropdown{
   top: 18px;
   border-top-color: #8a8a8a;
 }
